* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #192a56;
    padding-top: 16px;
    color: aliceblue;
}

header > .container {
    
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

}

nav {
    background-color: rgb(73, 72, 72);
    padding: 16px 0;
}

nav li {
    list-style: none;/*Para tirar o stylo do menu*/
    display: inline; /*Para colocar uma ao lado da outra*/
    margin-right: 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: aliceblue;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;

}


.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: aliceblue;
    display: block;
    margin-bottom: 5px;
}   


.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}


section {
    padding:  48px 0;

}

section h2 {
    margin-bottom: 16px;

}
.lista-de-veiculos {
    flex-wrap: wrap;
}

.lista-de-veiculos li {
    list-style: none;
    max-width: 30%;
}


.lista-de-veiculos img {
    max-width: 100%;

}

.lista-de-veiculos li h3 {
    margin: 16px 0;
}


.item-central {
    margin: 0 5%;
}

.lista-de-veiculos li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-bottom:20px;
    cursor: pointer;
    border-radius: 9px;
}


.price {
    margin: 16px 0;
    display: block;
    
}



.price del {
    color: #717171;
    font-size: 14px;
}