* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html {
    overflow: hidden; /*cortar tudo fora da imagem*/
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
}

header {
    background-color: #192a56;
    padding-top: 16px;
    color: rgb(255, 255, 255);
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

}

nav {
    background-color: #1d269e;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;/*Para tirar o stylo do menu*/
    display: inline; /*Para colocar uma ao lado da outra*/
    margin-right: 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    
}

nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;  /*para o usuário saber que o botão é clicavel*/
}


.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: aliceblue;
    display: block;
    margin-bottom: 5px;
}   

.container-flex {
    display: flex;
    align-items: center;
}

.dis {
    display: fixed;
}